Define a variable `age` and set it to your age.

Create a list of your three favorite fruits and print the second fruit in the list.

Create a dictionary with your name, age, and favorite color. Print your favorite color from the dictionary.

- Add 10 and 5
- Subtract 7 from 20
- Multiply 4 by 6
- Divide 20 by 4

Use floor division and modulus to divide 17 by 5 and print the results.

Write a script that checks if a number is positive, negative, or zero and prints an appropriate message.

Create a nested if-else statement that checks if a number is even or odd and then checks if it is greater than 10 or not.

Use a for loop to print each element in the list `[10, 20, 30, 40, 50]`.

Write a while loop that prints numbers from 1 to 5.

Write a function `greet` that takes a name as an argument and prints "Hello, [name]!".

Create a function `factorial` that takes a number as an argument and returns its factorial.

Define a class `Book` with attributes `title` and `author`. Include a method `display_info` that prints the book's title and author.

Create an instance of the `Book` class and call the `display_info` method.

Create a list of integers from 1 to 10. Use list comprehension to create a new list containing the squares of these integers.

Append the number 11 to the list and print the updated list.

Create a tuple with the numbers 1, 2, and 3. Access and print the second element in the tuple.

Try to change the value of the first element and observe what happens.

Create a dictionary with keys as names of three students and values as their scores. Print the score of a specific student.

Add a new student to the dictionary and update the score of an existing student.

Import NumPy and create an array with numbers from 1 to 10.

Reshape this array to a 2x5 matrix and print it.

Perform element-wise addition with another array of the same shape.

Import Pandas and create a DataFrame from a dictionary where keys are column names and values are lists of column data.

Print the first few rows of the DataFrame.

Select and print a specific column from the DataFrame.