Create a variable `height` and set it to your height in meters.

Define a tuple with the names of three different animals and print the first animal in the tuple.

Create a dictionary with keys as the names of three countries and values as their capitals. Print the capital of a specific country.

Concatenate the strings `"Hello, "` and `"World!"` and print the result.

Create a string `sentence` with the value `"Python programming is fun!"`. Replace the word `"fun"` with `"awesome"` and print the result.

Write a script that checks if a number is positive, negative, or zero and prints an appropriate message using `if-elif-else`.

Use a nested if statement to check `if` a number is between 10 and 20 (inclusive) and whether it is even or odd.

Use a for loop to iterate over a dictionary and print each key and value.

Write a while loop that prints the squares of numbers from 1 to 5.

Write a function `sum_list` that takes a list of numbers as an argument and returns their sum.

Create a function `is_prime` that takes a number as an argument and returns `True` if the number is prime and `False` otherwise.

Define a class `Student` with attributes `name` and `grade`. Include a method `display_info` that prints the student's name and grade.

Create an instance of the `Student` class and update the student's grade. Call the `display_info` method to display the updated information.

Create a set with the numbers 1, 2, 3, 4, and 5. Add the number 6 to the set and print the updated set.

Create another set with the numbers 4, 5, 6, 7, and 8. Find the intersection of the two sets and print the result.

Create a dictionary with keys as the names of three subjects and values as the scores. Calculate and print the average score.

Update the score of one subject and remove another subject from the dictionary. Print the updated dictionary.

Import NumPy and create an array with numbers from 11 to 20.

Reshape this array to a 5x2 matrix and print it.

Perform element-wise multiplication with another array of the same shape.

Import Pandas and create a DataFrame from a list of dictionaries, where each dictionary represents a row of data.

Print the last few rows of the DataFrame.

Select and print a specific row based on a condition (e.g., where a column value is greater than a threshold).