Define a variable `age` and set it to your age.

In [3]:
age=20

In [4]:
age

20

Create a list of your three favorite fruits and print the second fruit in the list.

In [ ]:
fruits=['banana','orange','apple']

In [11]:
fruits[1]

'orange'

Create a dictionary with your name, age, and favorite color. Print your favorite color from the dictionary.

In [19]:
dcit1={'name':'Rosan Shrestha','age':20,'fav_col':"red"}

In [34]:
dcit1["fav_col"]

'red'

- Add 10 and 5
- Subtract 7 from 20
- Multiply 4 by 6
- Divide 20 by 4

In [36]:
add=10+5

In [38]:
add

15

In [40]:
sub=7-20

In [42]:
sub

-13

Use floor division and modulus to divide 17 by 5 and print the results.

In [44]:
mul=6*4

In [46]:
mul

24

In [48]:
divide=20/4

In [50]:
divide

5.0

Write a script that checks if a number is positive, negative, or zero and prints an appropriate message.

In [54]:
a=10
if a<0:
    print("a is negative number")
elif a==0:
    print("a  is equal to 0")
else:
    print("a is positive")

a is positive

Create a nested if-else statement that checks if a number is even or odd and then checks if it is greater than 10 or not.

In [3]:
a=25
if a%2==0:
    print("even number")
    if a>10:
        print("a is greater than 10")
    else:
        print("a is less than 10")
else:
    print("odd number")
    if a>10:
        print(" a is greater than 10")
    else:
        print("a is less than 10")

odd number
 a is greater than 10

Use a for loop to print each element in the list `[10, 20, 30, 40, 50]`.

In [60]:
list2=[10,20,30,40,50]
for x in list2:
    print(x)

10
20
30
40
50

Write a while loop that prints numbers from 1 to 5.

In [62]:
a=1
while a<=5:
    print(a)
    a=a+1

1
2
3
4
5

Write a function `greet` that takes a name as an argument and prints "Hello, [name]!".

In [70]:
def greet(fname):
    print("Hello  "+fname)

In [72]:
greet("Rosan ")

Hello  Rosan

Create a function `factorial` that takes a number as an argument and returns its factorial.

In [11]:
def factorial(num):
    fact=1
    for i in range(1,num+1):
         fact=fact*i
    return fact
factorial(5)

120

Define a class `Book` with attributes `title` and `author`. Include a method `display_info` that prints the book's title and author.

In [26]:
class Book:
  def  __init__(self,title,author):
      self.title=title
      author.author=author
  def display_info(self):
      print(f"title:{self.title},author:{self.author}")

Create an instance of the `Book` class and call the `display_info` method.

In [28]:
b=Book("python programming","hello")
b.display_info()

AttributeError: 'str' object has no attribute 'author'

Create a list of integers from 1 to 10. Use list comprehension to create a new list containing the squares of these integers.

In [7]:
list1=[1,2,3,4,5,6,7,8,9,10]
square_number=[x*x for x in list1]
square_number

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Append the number 11 to the list and print the updated list.

In [9]:
list2=[1,23,4,5,6,7,8,9,10]
new_list= [num+11 for num in list2]
new_list

[12, 34, 15, 16, 17, 18, 19, 20, 21]

Create a tuple with the numbers 1, 2, and 3. Access and print the second element in the tuple.

In [13]:
tuple1=(1,2,3)
tuple1[1]

2

Try to change the value of the first element and observe what happens.

In [15]:
tuple1[0]=6#this gives an error

TypeError: 'tuple' object does not support item assignment

Create a dictionary with keys as names of three students and values as their scores. Print the score of a specific student.

In [19]:
dict1={
    'Rosan':90,
    'sneha':85,
    'Ram':60}
dict1['sneha']

85

Add a new student to the dictionary and update the score of an existing student.

In [25]:
dict1['prince']=89
dict1['sneha']=66
dict1

{'Rosan': 90, 'sneha': 66, 'Ram': 60, 'prince': 89}

Import NumPy and create an array with numbers from 1 to 10.

In [31]:
import numpy as np
number=np.array[1,2,3,4,5,6,7,8,9,10]

TypeError: 'builtin_function_or_method' object is not subscriptable

Reshape this array to a 2x5 matrix and print it.

Perform element-wise addition with another array of the same shape.

Import Pandas and create a DataFrame from a dictionary where keys are column names and values are lists of column data.

Print the first few rows of the DataFrame.

Select and print a specific column from the DataFrame.