In [1]:
import pandas as pd

In [5]:
mydataset={'cars':['bmw','volvo','ford'],
            'passings':[3,7,2]
}

In [7]:
var=pd.DataFrame(mydataset)

In [9]:
var

    cars  passings
0    bmw         3
1  volvo         7
2   ford         2

In [11]:
a=[1,2,3,4,5]

In [18]:
new_var=pd.Series(a)

In [22]:
print(new_var)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [24]:
var

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [33]:
var=pd.Series(a,index=['a','b','c','d','e'])

In [35]:
var

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [37]:
student={'name':'rosan',
         'address':'ktm',
         'age':20}

In [ ]:
var=pd